<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
  <select id='dropdown'>
      {{#each teams}}
      {{!-- Exclude Minnesota? --}}
  <option class='option' value="[{{O_rush_YPA}},{{O_pass_YPA}},{{D_rush_YPA}},{{D_pass_YPR}}]" > Team: {{team_name}}</option>;
{{/each}}
    
  </select>

  <script>
    $('#dropdown').change(function() {
        var opponentValues = this.value;
       localStorage.setItem('opponentValues', JSON.stringify(opponentValues));
       // append to different screen
    });
      
    
  </script>
 
</body>
</html>